<label for="preg" class="rem">Pregunta:</label>
<input type="text" id="preg" name="quiz[pregunta]" placeholder="Pregunta" value="<%= (quiz.pregunta === 'Pregunta') ? '' : quiz.pregunta %>" />
<br/>
<label for="resp" class="rem">Respuesta:</label>
<input type="text" id="resp" name="quiz[respuesta]" placeholder="Respuesta" value="<%= (quiz.respuesta === 'Respuesta') ? '' : quiz.respuesta %>" />
<br/>
<label for="tema" class="rem">Tema:</label>
<select id="tema" name="quiz[tema]">
 <option value="otro" <%= (!quiz.tema || (quiz.tema && quiz.tema === 'otro')) ? 'selected' : '' %>>Otro</option>
 <option value="humanidades" <%= (quiz.tema && quiz.tema === 'humanidades') ? 'selected' : '' %>>Humanidades</option>
 <option value="ocio" <%= (quiz.tema && quiz.tema === 'ocio') ? 'selected' : '' %>>Ocio</option>
 <option value="ciencia" <%= (quiz.tema && quiz.tema === 'ciencia') ? 'selected' : '' %>>Ciencia</option>
 <option value="tecnologia" <%= (quiz.tema && quiz.tema === 'tecnologia') ? 'selected' : '' %>>Tecnología</option>
</select><br/>
<input type="submit" value="Guardar"/>
<a href="/quizes"><button type="button">Cancelar</button></a>
